.logincontent{
	margin: 0 auto;
	height: 500px;
	width: 400px;
	background-color: rgb(237, 236, 243);
	border-radius: 10px;
}

.registercontent{
	margin: 0 auto;
	height: 720px;
	width: 400px;
	background-color: rgb(237, 236, 243);
	border-radius: 10px;
}

.logintop{
	height: 60px;
	width: 400px;
	background-color: #9082ee;
	color: rgb(237, 236, 243);
}

.registertop{
	height: 60px;
	width: 400px;
	background-color: #9082ee;
	color: rgb(237, 236, 243);
}

.textbox{
	padding: 10px 40px;
	background-color: #9082ee;
	border-radius: 10px;
}

::placeholder {
	color:rgb(237, 236, 243);
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}

.btn {
	padding: 10px 40px;
	background-color: #9082ee;
	color: rgb(237, 236, 243);
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

