<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WELCOME</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    body {
      margin: 0;
      box-sizing: border-box;
    }

    /* CSS for header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f5f5;
    }

    .header .logo {
      font-size: 25px;
      font-family: 'Sriracha', cursive;
      color: #000;
      text-decoration: none;
      margin-left: 30px;
    }

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f5f5f5;
      margin-right: 20px;
    }

    .nav-items a {
      text-decoration: none;
      color: #000;
      padding: 35px 20px;
    }

    /* CSS for main element */
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 520px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .intro h1 {
      font-family: sans-serif;
      font-size: 60px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .intro p {
      font-size: 20px;
      color: #d1d1d1;
      text-transform: uppercase;
      margin: 20px 0;
    }

    .intro button {
      background-color: #5edaf0;
      color: #000;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
    }

    .achievements {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .achievements .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .achievements .work i {
      width: fit-content;
      font-size: 50px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 12px;
    }

    .achievements .work .work-heading {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .achievements .work .work-text {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

  </style>
</head>

<body>
  <header class="header" style="background-color: #9082ee;">
    <a href="#" class="logo">BBC NEWS</a>
    <nav class="nav-items" style="background-color:#9082ee ;">
      <a href="{{ url_for('home')}}">Home</a>
      <a href="{{ url_for('login')}}">LOGIN</a>
      <a href="{{ url_for('register')}}">REGISTER</a>
	  <a href="{{ url_for('logout')}}">LOGOUT</a>
    </nav>
  </header>
  <main style="background-color:rgb(200, 196, 232) ;">
    <div class="achievements">
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading"><a href="{{ url_for('sports')}}"> SPORTS</p></a>
        <p class="work-text">Sports news and live sports coverage including scores, results, video, audio and analysis on Football, F1, Cricket, Rugby Union and all other UK sports.</p>
      </div>
      <div class="work">
        <i class="fas fa-american-sign-language-interpreting"></i>
        <p class="work-heading"><a href="{{ url_for('culture')}}">CULTURE</p></a>
        <p class="work-text">Covering the latest in global arts and culture in all its forms, BBC Culture gives an international view of film and TV, books, art, music and style.</p>
      </div>
      <div class="work">
        <i class="fas fa-tv"></i>
        <p class="work-heading"><a href="{{ url_for('tv')}}">TV</p></a>
        <p class="work-text">Watch BBC One live, find TV programme listings and schedules, plus enjoy your favourite shows on BBC iPlayer.</p>
    </div>
	<div class="work">
        <i class="fas fa-bolt"></i>
        <p class="work-heading"><a href="{{ url_for('weather')}}">WEATHER</p></a>
        <p class="work-text">Latest weather conditions and forecasts for the UK and the world. Includes up to 14-days of hourly forecast information, warnings, maps, and the latest editorial analysis and videos from the BBC </p>
    </div>
	<div class="work">
        <i class="fas fa-music"></i>
        <p class="work-heading"><a href="{{ url_for('sounds')}}">SOUNDS</p></a>
        <p class="work-text">Listen without limits, with BBC Sounds. Catch the latest music tracks, discover binge-worthy podcasts, or listen to radio shows – all whenever you want..</p>
    </div>
	
    
    
</body>

</html>
