<html>
	<head>
		<meta charset="UTF-8">
		<title> Login </title>
		<link rel="stylesheet" href="../static/style.css">	
	</head>
	<body style="background-color: rgb(200, 196, 232) ;">
		<div class="logincontent" >
			<div class="logintop">
				<h1>Login</h1>
			</div></br></br></br></br>
			<div class="loginbottom">
			<form action="{{ url_for('login')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }}</div>
			<input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
			<input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br></br>
			<input type="submit" class="btn" value="Login">
			</form></br></br>
			<p class="worddark">New to this page? <a class="worddark" href="{{ url_for('register')}}">Register here</a></p>
			</div>
		</div>
	</body>
</html>
