<html>
	<head>
		<meta charset="UTF-8">
		<title> register </title>
		<link rel="stylesheet" href="../static/style.css">	
	</head>
	<body>
		<div class="registercontent" >
			<div class="registertop">
				<h1>Register</h1>
			</div></br></br>
			<div class="registerbottom">
			<form action="{{ url_for('register')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }}</div>
			<input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
			<input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br>
			<input type="email" name="email" placeholder="Enter Your Email ID" class="textbox" id="email" required></br></br>
			<input type="text" name="dateofbirth" placeholder="Enter Your date of birth" class="textbox" id="dateofbirth" required></br></br>
			<input type="text" name="country" placeholder="Enter Your Country" class="textbox" id="country" required></br></br>
			<input type="submit" class="btn" value="Register">
			</form>
			<p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p>
			</div>
		</div>
	</body>
</html>
